.control-label{
  font-size: 20px;
  color: blue;
  margin-bottom: 10px;
}
.required{
    color: red;
}
.form-control{
    width: 200px;
    padding: 12px 10px;
    margin-bottom: 10px;
}
.error{
    color: red;
    font-size: 10px;
}