<div *ngIf="form">
  <form [formGroup]="form">
    <div *ngFor="let item of formElement">
      <div [ngSwitch]="item.component">
        <app-column-text *ngSwitchCase="'inputText'" [label]="item.label" [isRequired]="item.required" [formControlName]="item.controlName"></app-column-text>
      </div>
    </div>
    <div class="action">
       <button type="submit" (click)="save()" [disabled]="!form.valid" >Submit</button>
    </div>
  </form>
</div>

<div class="output-text">
  {{form.value | json}}
</div>
