.action{
    margin-top:20px;
    button{
        width: 120px;
        height: 35px;
        font-size: 15px;
        background-color: #ee1d64;
        color: #ffff;
    }
}

.output-text{
 margin-top: 20px;
}